 .header { color: white; background-color: MediumSlateBlue; font-weight: bold; font-size:175%; }
 .title  { color: black; background-color: LightSteelBlue; font-weight: bold; }
 .title1  { color: black; background-color: #93aed2; font-weight: bold; }
 .title2  { color: black; background-color: #a5bcd9; font-weight: bold; }
 .param { color: black ; background-color: yellow;  font-weight: normal;  }
 .param2 { color: black ; background-color: lightyellow;  font-weight: normal; font-size: 75%;}
 .param3 { color: black ; background-color: lightyellow;  font-weight: normal; font-size: 75%;}
 .help { color: black ; background-color: lavenderblush; font-weight: bold; }
 .helplinks { color: black ; background-color: lavender; font-weight: bold; }
 .buttons { color: black ; background-color: rgb(204, 204, 204); }
 .alias { color: black ; background-color:  rgb(204, 255, 255); font-weight: bold; }
 .other { color: navy ; background-color:  rgb(204, 204, 204); }
 .mode { color: blue ; background-color: mintcream; }
 .tune { color: black ; background-color: lightyellow; font-size: 90%; }
 .doc { color: red ; background-color: rgb(204, 204, 204) ; }
 .normal { color: black ; background-color: white ; font-weight: normal;  }
 .fenormal { color: black ; background-color: white ; font-weight: normal;  }
 .info { color: green;  font-weight: normal; font-style: italic;  font-size: 90%; }
 .info2  { color: red;  font-weight: normal; font-style: italic;  font-size: 90%; }
 .note { color: black; background-color:lavender;  font-weight: normal; font-style: italic;  font-size: 90%; }
 .smtitle  { color: black; background-color: LightSteelBlue; font-weight: bold;  font-size: 90%; }
 .smtitle1  { color: black; background-color: palegoldenrod; font-weight: bold;  font-size: 90%; }
 .smhdr { color: black ; background-color: azure ; font-weight: bold; font-size: 100%; }
 
 .small { color: black ; background-color: white ; font-weight: normal; font-size: 90%; }
 .smon { color: black ; background-color: lime ; font-weight: normal; font-size: 90%; }
 .smoff { color: black ; background-color: red ; font-weight: normal; font-size: 90%; }
 .smwarn { color: black ; background-color: yellow ; font-weight: normal; font-size: 90%; }
 .smhdr2 { color: black ; background-color: palegoldenrod ; font-weight: normal; font-size: 75%; }

 .calc  { color: black ; background-color: palegoldenrod ; font-weight: normal; font-size: 75%; }
 .pctitle  { color: white; background-color: blue; font-weight: bold; }
 .pchdr  { color: black; background-color: aliceblue; font-weight: normal;  font-size: 90%; }
 .pcitem  { color: blue; background-color: white; font-weight: normal;  font-size: 90%; }

 .sctitle  { color: white; background-color: purple; font-weight: bold; }
 .schdr  { color: black; background-color: lavender; font-weight: normal;  font-size: 90%; }
 .scitem  { color: purple; background-color: white; font-weight: normal;  font-size: 90%; }

 .hidden  { color: white; background-color: white; } 
 .lastmes  { color: SteelBlue;  background-color: white; font-weight: normal; } 